# Base URL for the Backend API
BASE_API_URL="https://api.agents.cardanoapi.io/api"

# Admin access credentials for testing purposes
# These should be generated when signing data for admin functionalities
ADMIN_KEY="" 
ADMIN_SIGNATURE="" 

# User access credentials for testing purposes
# These should be generated when signing data for user functionalities
USER_KEY="" 
USER_SIGNATURE="" 

# WebSocket URL for the agent manager
AGENT_MANAGER_WS_URL="wss://manager.agents.cardanoapi.io"

# Timeout duration for running the generated agent with configuration
# It is recommended to set this to 180 seconds or more
# Setting a lower value might cause the agent-node to fail tasks and log tests
AGENT_RUN_TIMEOUT=180 # Recommended minimum: 180 seconds

# Base URL for the Cardano Faucet and Faucet API key
CARDANO_FAUCET_BASE_URL= ""
CARDANO_FAUCET_API_KEY= ""
