BASE_URL="https://api.agents.cardanoapi.io/api"
#For testing Admin access functionalities. Generated when signing data.
ADMIN_KEY=""
ADMIN_SIGNATURE=""

#For testing User access functionalities. Generated when signing data.
USER_KEY=""
USER_SIGNATURE=""

# This is for running the generated agent with configuration. Recommended time is 180 seconds and above. 
# Lowering this value can cause the agent-node to not perform any task and fail the log test.
AGENT_RUN_TIMEOUT= 