DATABASE_URL=postgresql://user@localhost/caa
AGENT_MNEMONIC="abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon art"

# Environment
# Allowed Values : development , production
NODE_ENV= production

DATABASE_URL=postgresql://root:root@localhost:5432/cardano_autonomous_agent_testing_db
AGENT_MNEMONIC=""
KAFKA_BROKERS=
KAFKA_ENABLED=true
DOCS_URL=/api/docs
OPENAPI_URL=/api/openapi.json


JWT_SECRET_KEY=""