name: Frontend Build Check

on:
  pull_request:
    branches:
      - master
      - dev
    paths:
      - 'frontend/**'
      - .github/workflows/frontend-typecheck.yml

jobs:
  build-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: frontend/node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('frontend/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Yarn
        run: npm install --global yarn

      - name: Install Dependencies
        working-directory: frontend
        run: yarn install

      - name: Run Build Check
        working-directory: frontend
        run: yarn run build:check
